// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024
 * Author: Rene Koppe <rene@xargon.de>
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "bananapi,bpi-r4", "mediatek,mt7988a";

	aliases {
		uart2 = "/soc/serial@11000200";
		pio = "/soc/pinctrl@1001f000";
		pwm = "/soc/pwm@10048000";
		i2c1 = "/soc/i2c@11004000";
	};

	fragment@0 {
		target = <&uart2>;
		__overlay__ {
				status = "disabled";
		};
	};
	
	fragment@1 {
		target = <&pio>;
		__overlay__ {
			pwm6_pins: pwm6-pins {
				mux {
					groups = "pwm6_0";
					function = "pwm";
				};
			};
		};
	};
	
	fragment@2 {
		target-path = "/";
		__overlay__ {
			lcd: backlight {
				status = "okay";
				compatible = "pwm-backlight";

				pwms = <&pwm 6 50000 PWM_POLARITY_INVERTED>;

				brightness-levels = <0 255>;
				default-brightness-level = <128>;
				num-interpolated-steps = <255>;

				power-supply = <&reg_3p3v>;
				pinctrl-names = "default";
				pinctrl-0 = <&pwm6_pins>;
			};
		};
	};
	
	fragment@3 {
		target-path = "/soc/spi@11008000";
		__overlay__ {
			status = "okay";
			
			ili9341: ili9341@0 {
				compatible = "adafruit,yx240qv29", "ilitek,ili9341";
				reg = <0>; 
				spi-max-frequency = <32000000>;
				rotation = <270>;
				reset-gpios = <&pio 53 GPIO_ACTIVE_HIGH>;
				dc-gpios = <&pio 50 GPIO_ACTIVE_HIGH>;
				backlight = <&lcd>;
				status = "okay";
			};
		};
	};
	
	fragment@4 {
		target = <&i2c1>;
		__overlay__ {
			status = "okay";
			
			pca: gpio@20 {
				compatible = "nxp,pca9534";
				status = "okay";
				reg = <0x20>;
				gpio-controller;
				#gpio-cells = <2>;
				interrupt-parent = <&pio>;
				interrupts = <59 IRQ_TYPE_EDGE_FALLING>;
				interrupt-controller;
				#interrupt-cells = <2>;
			};
		};
	};
	
	fragment@5 {
		target-path = "/gpio-leds";
		__overlay__ {
			left-white {
				function = LED_FUNCTION_KBD_BACKLIGHT;
				color = <LED_COLOR_ID_WHITE>;
				gpios = <&pca 3 GPIO_ACTIVE_LOW>;
				default-state = "on";
				label = "left_button_white";
			};
			
			right-white {
				function = LED_FUNCTION_KBD_BACKLIGHT;
				color = <LED_COLOR_ID_WHITE>;
				gpios = <&pca 4 GPIO_ACTIVE_LOW>;
				default-state = "on";
				label = "right_button_white";
			};
			
			enter-white {
				function = LED_FUNCTION_KBD_BACKLIGHT;
				color = <LED_COLOR_ID_WHITE>;
				gpios = <&pca 5 GPIO_ACTIVE_LOW>;
				default-state = "on";
				panic-indicator = "true";
				label = "enter_button_white";
			};
			
			enter-red {
				function = LED_FUNCTION_HEARTBEAT;
				color = <LED_COLOR_ID_WHITE>;
				gpios = <&pca 6 GPIO_ACTIVE_LOW>;
				default-state = "off";
				panic-indicator = "true";
				linux,default-trigger = "heartbeat";
				label = "enter_button_red";
			};
		};
	};
	
	fragment@6 {
		target-path = "/gpio-keys";
		__overlay__ {
			left {
				label = "left";
				linux,code = <BTN_0>;
				gpios = <&pca 0 GPIO_ACTIVE_LOW>;
			};

			right {
				label = "right";
				linux,code = <BTN_1>;
				gpios = <&pca 1 GPIO_ACTIVE_LOW>;
			};

			enter {
				label = "enter";
				linux,code = <BTN_2>;
				gpios = <&pca 2 GPIO_ACTIVE_LOW>;
			};
		};
	};
};
